{% extends 'website/base.html' %}

{% block content %}
<div class="card p-4 shadow">
    <h1>About Hon. Elphas Shilosio</h1>
    <p>
        Hon. Elphas Shilosio is the elected Member of County Assembly (MCA)
        representing Murhanda Ward. He is committed to empowering communities,
        improving infrastructure, promoting education, and ensuring inclusive development.
    </p>

    <p>
        His leadership focuses on accountability, service delivery, and sustainable growth
        for all residents of Murhanda Ward.
    </p>
</div>
{% endblock %}